@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro&display=swap');
body{
	background-color:rgb(0, 0, 0);
	margin: 0; 
	padding: 0;
	font-family: 'Anonymous Pro', monospace;
	overflow: hidden;
}

nav.navbar {
	overflow: hidden;
	position: fixed; 
	top: 0; 
	display: flex;
	width: 100%;
	height: 6%;
	justify-content: center;
	background: rgba(0, 0, 0, 0.65);
	font-size: 20px;
}

nav.navbar a{
	 text-decoration: none;
	 color: white;
}

nav.navbar .navli {
	float: left;
	flex: 1;
	text-align: center;
	color: #f2f2f2;
	padding: 1vw 1vw;
	text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
	background:
     linear-gradient(
       to bottom, rgba(21, 255, 0, 0.788) 0%,
       rgba(21, 255, 0, 0.788) 100%
     );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 1px 1px;
    text-decoration: none;
	transition: background-size .2s;
	font-size: 1vw;
}

nav.navbar .navli:nth-child(1) {
	color: #0cee0c;
	text-shadow: 2px 2px rgba(206,89,55,0);
	font-size: 1vw;
}
  
nav.navbar .navli:hover {
	color: black;
	text-shadow: 2px 2px rgba(206,89,55,0);
	background-size: 4px 100px;
	
}


video#bgVid {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
	object-fit: cover;
	opacity: 0.35;
  }

/* To be potentially implemented later via media queries for mobile devices, ignore me thanks :)
#burger {
	display: inline-block;
	cursor: pointer;
	position: fixed;
	z-index: 100;
}
  
  .bar1, .bar2, .bar3 {
	width: 35px;
	height: 5px;
	background-color: rgb(57, 255, 20);;
	margin: 6px 0;
	transition: 0.4s;
	border-radius: 2px;

}
  
.change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
	transform: rotate(-45deg) translate(-9px, 6px) ;
	border-radius: 2px;
}
  
  .change .bar2 {
	opacity: 0;
}
  
.change .bar3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px) ;
	transform: rotate(45deg) translate(-8px, -8px) ;
	border-radius: 2px;
}

.sidenav {
	height: 
	width: 0; 
	position: fixed; 
	z-index: 1; 
	top: 0; 
	left: 0;
	background-color: #111; 
	overflow-x: hidden; 
	padding-top: 60px; 
	transition: 0.5s;
	font-family: 'Anonymous Pro', monospace;
}
  
  .sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
	font-family: 'Anonymous Pro', monospace;
	padding-top: 20px;
}
  
  .sidenav a:hover {
	color: rgb(57, 255, 20);
  }
  
  .sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
  }
  */

div.loader {
	border: 16px solid black; 
	border-top: 16px solid #0cee0c; /* Light green */
	border-radius: 50%;
	display: block;
	width: 60px;
	height: 60px;
	float: right;
	bottom: 0;
	animation: spin 2s linear infinite;
}
  
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

p#typeWriter{
	font-family: 'Anonymous Pro', monospace;
	font-size: 80px;
	font-size: 4vw;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

section#loading p{
	margin: auto 0;
	justify-content: center;
	font-size: 4vw;
}

section#loading{
	font-size: 80px;
	font-size: 4vw;
	width: 100%;
	margin: 0 auto;
	margin-top: 7%;
	position: relative;
	text-align: center;
	font-family: 'Anonymous Pro', monospace;
	display: flex;
	justify-content: center;
	color: #0cee0c;
	height: 100px;
	text-shadow: 0px 0px 4px rgba(51, 255, 0, 0.7);
}

section#typing{
	font-size: 80px;
	font-size: 4vw;
	width: 100%;
	margin: -5vh auto;
	text-shadow: 0px 0px 4px rgba(51, 255, 0, 0.7);
	text-align: center;
	font-family: 'Anonymous Pro', monospace;
	color: #0cee0c;
	height: 100px;
	left: 0%;
}

section#typing p{
	font-size: 80px;
	font-size: 4vw;
	font-family: 'Anonymous Pro', monospace;
	color: #0cee0c;
	height: 100px;
}


section#nextPage{
	width: 100%;
	height: 49vh;
	text-align: center;
	justify-content: center;
	margin: 5vh auto;
	width: 50%;
	padding: 2vw;
	background: rgba(0, 0, 0, 0.65);
	font-size: 0.55vw;

}

section#nextPage p{
	color:white;
	font-size: 1vw;
}

section#nextPage p:nth-child(2){
	color:white;
	font-size: 1vw;
	font-style: italic;
}

section#nextPage pre{
	color:white;
	margin-left: -2vw;
}

section#nextPage h1{
   color: #0cee0c;
   margin: 0 auto;
   width: 50%;
   background-size: 1px 1px;
   text-decoration: none;
   transition: background-size .2s;
   font-size: 2vw;
}


section#nextPage a{
	color: #0cee0c;
	text-decoration: none;
}

section#nextPage a:hover{
	color: white;

}
section#nextPage h1:hover{
	border-width: 1px;
	border-style: solid;
	border-color:#0cee0c;
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
	  transform: translateX(2px);
	}
	40% {
	  transform: translateX(-3px);
	}
	60% {
	  transform: translateX(-1px);
	}
}

button{
	display: inline-block;    
	border: none;  
	color: #0cee0c;  
	text-align: center;  
	font-size: 28px;
	font-size: 1.5vw;    
	padding: 0.55vw;  
	width: 11vw;  
	transition: all 0.5s;  
	cursor: pointer;  
	margin: 5px;
	background-color: Transparent;
}

button span {  
	cursor: pointer;
	transition: 0.5s;
	display: inline-block;  
	position: relative;  
}

button span:after {
	opacity: 0;  
	top: 0; 
	content: '\00bb';
	position: absolute;   
	right: -20px;  
	transition: 0.5s;
}

button:hover span {  
	padding-right: 35px;
}

button:hover span:after {  
	opacity: 1;  
	right: 0;
}